.globalImg {
  width: 100%;
  height: auto;
}

.globalColor {
  color: #00695c;
}

@media screen and (min-width: 768px) {
  .globalImg {
    width: 100%;
    height: 250;
  }

  .carousselImg {
    transform: translate(0%, -30%);
  }
  .carousselMain {
    height: 320px;
  }
}
